/* Main Container */
#container {
    width: 1400px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}

/* login */
.login {
    color: white;
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    width: 475px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.login-field {
    border: none;
    margin: 20px;
}

/* #login-header {
    flex-direction: column;
    margin: 10px auto;
    display: flex;

    align-items: center;
    justify-content: center;
} */

#login-field-stuff {
    font-size: 12px;
}


/*Nav-Bar*/
#nav-container {
    width: 100%;
    height: 100px;
    background: rgb(63, 143, 189);
    margin-bottom: 25px;
    display: flex;
    color:white;
    font-size: 30px;
    font-weight: bold;
    justify-content: space-between;
}

/* Friend List */
#friend-event-container {
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    color: white;
    width: 475px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 6;  
}

#friend-events-style {
    background: rgb(248, 248, 248);
    color:black;
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px;  
}

#friend-container {
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    width: 475px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 5;  
}

#friend-list-container {
    background: rgb(248, 248, 248);
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px;  
}

#my-friends-container {
    background: rgb(248, 248, 248);
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px; 
}


/* Task List */
#mainTaskCont {
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    width: 475px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
}

#addFormCont {
    background: rgb(248, 248, 248);
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px;   
}

#taskListCont {
    background: rgb(248, 248, 248);
    width: 400px; 
    height: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    overflow: scroll;
}

.friend-event-header {
    color:white;
}

/* Messages */

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(248, 248, 248);
}


/* h1 {
    display: block;
} */

.message {
    display: block;
    width: 375px;
    margin: 5px;
    padding: 0px;
}

.chat-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit-message-container {
    display: flex;
    width: 500px;
}

.format-btn-message {
    border: none;
    color: white;
    background: rgb(63, 143, 189);
    border-radius: 100%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    padding-bottom: 5px;
    font-weight: bold;

}

#chat-box {
    /* border: 1px solid black; */
    padding: 10px;
    margin: 5px;
    width: 475px;
    height: 350px;
    background: white;
    color: black;
    border-radius: 5px;
    overflow: scroll;
}

#message-component {
    /* border: 1px solid black; */
    color: white;
    padding: 10px;
    margin: 5px; 
    width: 525px;
    background: rgb(63, 143, 189);
    border-radius: 10px;
    order: 4
}

#message-input {
    border: none;
    border-radius: 2px;
    height: 25px;
    width: 300px;
    margin: 20px;
}

label {
    font-weight: bold
}
#event-list-container div:first-of-type {
    font-weight: bold;
    font-size: 1.5em;
    background-color: cornsilk;


    /*Events*/
}
.hide {
    display: none;
}
.past-event {
    color: lightgray;
}

#event-container {
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    width: 475px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
}

#event-list-container {
    background: rgb(248, 248, 248);
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

#past-event-div {
    background: rgb(248, 248, 248);
    width: 400px; 
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* News */

#news-component {
    border-radius: 10px;
    background:  rgb(63, 143, 189);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}
#news-id {
    background: rgb(248, 248, 248);
    width: 600px;
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
}

#containerId {

    background: rgb(248, 248, 248);
    width: 600px; 
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}